/* ------------------------------------ *\
   #GLOBAL
\* ------------------------------------ */

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  background-color: $light-color;
  color: $dark-color;
}

a {
  color: $accent-color;
}

a:hover {
  color: $accent-color-lighter;
  text-decoration: none;
}

a:visited {
  color: $accent-color-lighter;
}

.wrap {
  margin: 0 auto;
  max-width: 1160px;
  box-sizing: border-box;
}

/* ------------------------------------ *\
   #HEADER
\* ------------------------------------ */

header {
  margin: 0 auto;
  text-align: center;
  //background-color: $main-color;
  color: $light-color;
  border-bottom: 1px solid $dark-color;

  @media (min-width: 768px) {
    // padding: 50px 0 40px;
  }
}

.header {
  padding: 10px 10px 20px;
}

.header__logo img {
  height: 10vh;
  max-height: 100%;
}

.header__menu {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
}

.header__menu a {
  color: $dark-color;
  text-decoration: none;
}

.header__menu a:hover {
  color: $accent-color;
  text-decoration: none;
}

/* ------------------------------------ *\
   #MAIN
\* ------------------------------------ */

.main {
  box-sizing: border-box;
  max-width: 1160px;
  margin: 20px 0;

  @media (min-width: 768px) {
    margin: 30px auto;
  }
}

.main__title {
  text-align: center;
  font-family: $font-family-serif;
  padding-bottom: 30px;
}

/* ------------------------------------ *\
   #BANDS PAGE
\* ------------------------------------ */

.band-list {
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: 768px) {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.band {
  box-sizing: border-box;
  border: 1px solid $accent-color;
  background-color: $light-color-light;
  padding: 20px;
  margin: 0 0 10px;
  text-align: center;

  @media (min-width: 768px) {
    flex: 1 0 48%;
    margin: 0 5px 20px;
  }

  @media (min-width: 992px) {
    flex: 1 0 31%;
  }
}

.band__name {
  font-size: 1.6em;
  font-family: $font-family-serif;
  font-weight: bold;
}

.band__genre {
  font-size: 1.1em;
  font-style: italic;
  color: $main-color;
}

.location {
  padding-bottom: 40px;
}

.location__map {
  height: 200px;

  @media (min-width: 576px) {
    height: 400px;
  }

  @media (min-width: 768px) {
    height: 600px;
  }
}

.location__address span {
  font-weight: bold;
}

/* ------------------------------------ *\
   #FOOTER
\* ------------------------------------ */

footer {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: $main-color;
  color: $light-color;
}

.footer__dates {
  color: $light-color;
  font-family: $font-family-serif;
  font-size: 1.5em;
  font-variant: small-caps;
  font-weight: bold;
  padding: 10px;
}

.footer__address {
  font-size: 1.2em;
  color: $dark-color;
  font-style: italic;
}

.footer__address span {
  font-weight: bold;
  font-style: normal;
}

.footer__logo {
  padding: 10px;
}

.footer__logo img {
  height: 6vh;
  max-height: 100%;
  object-fit: cover;
}

.footer__menu {
  text-transform: uppercase;
}

.footer__menu a,
.footer__socialmenu a {
  color: $light-color;
  text-decoration: none;
}

.footer__menu a:hover,
.footer__socialmenu a:hover {
  color: $dark-color;
  text-decoration: none;
}
