@use "sass:color";

/* ------------------------------------ *\
  #FONT FAMILY
\* ------------------------------------ */

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Merriweather Sans',
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: 'Merriweather', 'Georgia', 'Times New Roman', serif;

/* ------------------------------------ *\
   #COLORS
\* ------------------------------------ */

$light-color: #f1faee;
$light-color-light: color.scale($light-color, $lightness: 30%);
$light-color-darker: color.scale($light-color, $lightness: -10%);
$dark-color: #1d3557;
$main-color: #457b9d;
$main-color-light: color.scale($main-color, $lightness: 60%);
$accent-color: #aa1e22;
$accent-color-darker: color.scale($accent-color, $lightness: -30%);
$accent-color-lighter: color.scale($accent-color, $lightness: 30%);

$theme-colors: (
  'primary': $main-color,
  'light': $light-color,
  'accent': $accent-color,
  'dark': $dark-color,
);
